.loading{
    --background: transparent;
    --spinner-color: var(--white);
    --min-width: 100%;
    --min-height: 100%;
  }

.custom-modal{
  --min-width: 100%;
  --min-height: 100%;
  --background: transparent;
}